/* API that used for initalizing the chevron_left and chevron_right */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
*{
    margin: 0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

/*---------------------------------------------------------------------*/

/* style for the calendar  */
.wrapper{
    position: absolute; 
    margin-top: 80px; 
    right: 10%;
    width: 390px;
    background: white;
    color: black; 
    border-radius: 10px;  

}
/* content of wrapper intializations */
.wrapper footer{
    display: flex;
    align-items:center; 
    padding: 25px 20px 10px;
    justify-content: space-between;
}

/* collects the current date (first line of output) */
footer .current-date{
    font-size: 1.45rem; 
    font-weight: 500; 
}

/* style for the < > icons */
footer .icons span{
    height: 38px; 
    width: 38px; 
    margin: 0 1px; 
    font-size: 1.9rem;
    cursor: pointer; 
    text-align: center;
    line-height: 38px; 
    border-radius: 50%; 
}
footer .icons span:hover{
    background: #f2f2f2;
}
footer .icons span:last-child{
    margin-right: -10px;
}

.calendar{
    padding: 20px;
}

/* list of the days in the month */
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
}

/* style for the weeks*/
.calendar .weeks li{
    font-weight: 500; 
}

/* style for the weeks and dates*/
.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .dates{
    margin-bottom: 20px;
}

/* style for the date*/
.calendar .dates li{
    z-index: 1;
    cursor: pointer; 
    margin-top: 30px; 
}

.dates li.inactive{
    color:silver;
}

/*color change of today's date*/
.dates li.active{
    color: blue;
}

/* style for dates before hovering*/ 
.calendar .dates li::before{
    position: absolute;
    content: "";
    height:40px; 
    width:40px; 
    top: 50%; 
    left: 50%;
    z-index: -1;
    border-radius: 50%; 
    transform: translate(-50%,-50%); 
}

/* style for dates when hovering*/
.calendar .dates li:hover::before{
    background: #f2f2f2;
}
/* indicate which day it is today*/
.dates li.active::before{
    background: greenyellow;
}

