.header h1{
    text-align: center;
    color: black;
}

body{
    background-color: rgb(232, 228, 223);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    line-height: 40px;
}

.menu a{
    color: rgb(95, 60, 60);
    text-decoration: none;
}
a:hover{
    color:red;
}

a:active{
    color: blue;
}

.dropdown{
    display: inline-block; 
    color: rgb(95, 60, 60);
}
.dropdown_item{
    display: none; 
    min-width: 100%;
}
.dropdown_item a{
    display: block;
    color: rgb(95, 60, 60); 
}

.dropdown_item a:hover{
    color: rgb(208, 174, 174);
}
.dropdown:hover .dropdown_item {
    display: block;
  }
